// sass --watch sass/style.scss:css/style.css

// --- colors --- 
$backgroundColor: #e6eef0;
$clockBorder: #4a1407;
$clockSide: #541d0f;
$clockShadow: black;  // not confirmed.. 

// --- Mixins ---
@mixin position($top, $left){
    position: relative;
    top: $top;
    left:$left;
}
*{
    box-sizing: border-box;
}
body{
    font-family: 'Roboto Condensed';
    background-color: $backgroundColor;
    margin: 100px;
    display: flex;
    align-content: center; // why not working? ..
    justify-content: center;
        .clock{
            border: 7px solid $clockBorder;
            box-shadow: #4a1407 -15px -2px 2px -3px,black -50px -10px 54px -35px,black -45px -20px 40px -60px inset;
            width: 390px;
            height : 420px;
            border-radius: 50%;
            .needleHour{
                height: 130px;
                width: 9px;
                background-color: black;
                @include position(99px, 187px );
                transform: rotate(0deg); // translate(165px, 57px)
            }
            .needleMinute{
                height: 175px;
                width: 8px;
                background-color: black;
                @include position(-23px, 242px );
                transform:rotateZ(90deg); //  translate(220px, -70px) 
            }
            #graduations{
                h1{
                    display: inline-block;
                    font-size:45px;
                }
                h1:first-child {
                    @include position(-300px, 260px );                
                }
                h1:nth-child(2){
                    @include position(-242px, 275px ); 
                }
                h1:nth-child(3){
                    @include position(-166px, 289px ); 
                }
                h1:nth-child(4){
                    @include position(-90px, 231px ); 
                }
                h1:nth-child(10){
                    @include position(-90px, 231px ); 
                }
                h1:nth-child(11){
                    @include position(-295px, -175px ); 
                }
                h1:last-child{
                    @include position(-325px, -131px ); 
                }
            }
        }
    }
