// sass --watch sass/style.scss:css/style.css

// --- colors --- 
$clockSize: 395px;
$backgroundColor: #e6eef0;
$clockBorder: #4a1407;
$clockSide: #541d0f;
$clockShadow: black;  // not confirmed.. 

// --- Mixins ---
@mixin position( $top, $left){
    position: absolute;
    top: $top;
    left:$left;
}
*{
    box-sizing: border-box;
}
body{
    position: relative;
    font-family: 'Roboto Condensed';
    background-color: $backgroundColor;
    margin: 100px;
    display: flex;
    align-content: center; // why not working? ..
    justify-content: center;
        .clock{
            position: relative;
            border: 7px solid $clockBorder;
            box-shadow: #4a1407 -15px -2px 2px -3px,
                        black -50px -10px 54px -35px,
                        black -45px -20px 40px -60px inset;
            min-width: 390px;
            width:$clockSize;
            height : $clockSize;
            border-radius: 50%;
            .hand{
                position: absolute;
                top:50%;
                left: 50%;
                background-color: black;
                transform-origin: 90% 90%;
            }
            #needleHour{
                // height: 100px;
                height: $clockSize/ 4;
                width: 8px;
                transform:translate(-50%, -60%) rotate(0deg);
            }
            #needleMinute{
                height: $clockSize/ 3;
                width: 6px;
                transform:translate(-50%, -70%) rotate(0deg);
            }
            #needleSecond{
                height: $clockSize/ 2.5;
                width: 4px;
                transform:translate(-50%, -75%) rotate(0deg);
            }
            #graduations{
                h1{
                    display: inline-block;
                    font-size:45px;
                }
                & :first-child {
                    @include position(15px, 258px );                
                }
                & :nth-child(2){
                    @include position(72px, 310px ); 
                }
                & :nth-child(3){
                    @include position(148px, 327px ); 
                }
                & :nth-child(4){
                    @include position(220px, 310px ); 
                }
                & :nth-child(5){
                    @include position(270px, 256px ); 
                }
                & :nth-child(6){
                    @include position(293px, 180px ); 
                }
                & :nth-child(7){
                    @include position(269px, 99px ); 
                }
                & :nth-child(8){
                    @include position(220px, 48px ); 
                }
                & :nth-child(9){
                    @include position(148px,24px ); 
                }
                & :nth-child(10){
                    @include position(79px,38px ); 
                }
                & :nth-child(11){
                    @include position(14px, 82px ); 
                }
                & :last-child{
                    @include position(-20px, 162px ); 
                }
            }
        }
    }
